<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ranking Graph</title>
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/simple-sidebar.css" rel="stylesheet">
</head>
<style>
        body
{
            font-family: 'Poller One';
}
    </style>
<body>
<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#"><strong><em>
                        iTravel
                        </em></strong>
                    </a>
                </li>
                <li>
                    <a href="dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="ItemRecommend">Item Recommendation</a>

                </li>
                <li>
                    <a href="UserRecommend">User Based Recommendation</a>
                </li>
                <li>
                    <a href="Graph">Graphs</a>
                </li>
                 <li>
                    <a href="#" style="background:rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%;">Avg Rating</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6">
                        <h3>Most Popular zipCodes</h3>
                        </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <img src="{{url_for('static',filename='img/avgrating.png')}}" width="550">
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>
</html>