<!DOCTYPE html>
<html>
<head>
    <title>Google Chart Example</title>
    <style>
        ul {list-style-type: none;} 
    </style>
   <script src="https://www.google.com/jsapi"></script>
   <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
   <script>
      // load the visualization library from Google and set a listener
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
         // grab the first CSV
         $.get("/Data/business.csv", function(csvString) {
            // transform the CSV string into a 2-dimensional array
      });
    }
   </script>
</head>
<body>
    <div style="float:left;">
   <div id="chart" style="width:600px; height:500px;">
   </div>
   <ul>
        <li>
            Y-Axis
            <select class="chart" id="range"></select>
        </li>
        <li>
            X-Axis
            <select class="chart" id="domain"></select>
        </li>
        <li>
            Color
            <select class="chart" id="color"></select>
        </li>
        <li>
            Size
            <select class="chart" id="size"></select>
        </li>
    </ul>
</div>
    
 </div>
</body>
</html>